<p><%= @user.confirmation_email %>様</p>

<P>URL管理アプリにご登録いただき、ありがとうございます。このメールは、ご登録いただいたメールアドレスが正しいか確認するためのメールです。</P>

<p>下記のリンクをクリックしていただくと、メール認証が完了します。</p>

<%= link_to "http://localhost:8000/confirmation/#{@user.confirmation_sent_at.to_i}-#{@user.confirmation_email}", "http://localhost:8000/confirmation/#{@user.confirmation_sent_at.to_i}-#{@user.confirmation_email}" %>

<p>このURLの有効期限は<%= Time.at(@user.confirmation_sent_at.to_i + 3600).strftime("%y/%m/%d %T") %>です。このメールに心当たりがない方は、お手数ですがこのメールは破棄してください。</p>
